.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.zip
DNAnexus/apps/mutect/resources/gatk
DNAnexus/apps/test_annotate
*.fa
*.fa.fai
*.dict
*.cram*
*.bam*
*.bam
*.vcf
*.vcf.gz
*.vcf.gz.tbi
DNAnexus/apps/hdfs
DNAnexus/apps/bqsr_spark/resources/gatk
*PerBaseCoverage.txt
[0-9][0-9][0-9][0-9][0-9][0-9][0-9].json
*.final.tsv
*.HSsMetrics.txt
*.fisher.*put
DNAnexus/apps/test/*
DNAnexus/apps/test/test_annotate/*
DNAnexus/apps/test/test_annotate/hg38_cosmic78_parsed.sorted.txt
DNAnexus/apps/test/test_annotate/repeatMaskerJoinedCurrent.bed
DNAnexus/apps/workflows/TEST_RM_BQSR_BAM/*
*/resources/gatk
DNAnexus/apps/workflows/FINAL/batch/FINAL_Transplant/transplant.json